pre {
  padding: 0.5em;
}
.codehilitetable tr {
  background-color: #272822;
  color: white;
}

.critic {
  padding: 0 0.25em;
  box-shadow: none;
}

ins.critic {
  background-color: #99cc00;
}
del.critic {
  background-color: #ff3333;
}
.critic.comment {
  background-color: #99ccff;
}

/* Emojis */
.emojione,
.twemoji {
  width: 1.125em;
  vertical-align: -15%;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
span code,
table code,
li code,
p code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 6px;
}

pre {
  overflow-x: auto;
}
/* Keyboard */
kbd {
  font-size: 0.85rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 9px;
  background: linear-gradient(178deg, #fff, #fff, #fff, #ddd);
}

/* Admonition */
.admonition {
  background-color: white;
  margin-bottom: 15px;
}

.admonition p {
  background-color: white;
  margin: 0px !important;
  padding: 14px;
}

.admonition.note,
.admonition.info,
.admonition.tips {
  border: 2px solid #c2e1f5;
}

.admonition.note .admonition-title,
.admonition.info .admonition-title,
.admonition.tips .admonition-title {
  background-color: #c2e1f5;
}

.admonition.success,
.admonition.check,
.admonition.done {
  border: 2px solid #c2e1c2;
}

.admonition.success .admonition-title,
.admonition.check .admonition-title,
.admonition.done .admonition-title {
  background-color: #c2e1c2;
}

.admonition.warning,
.admonition.warn,
.admonition.caution,
.admonition.attention,
.admonition.important {
  border: 2px solid #f5e1c2;
}

.admonition.warning .admonition-title,
.admonition.warn .admonition-title,
.admonition.caution .admonition-title,
.admonition.attention .admonition-title,
.admonition.important .admonition-title {
  background-color: #f5e1c2;
}

.admonition.danger,
.admonition.critical,
.admonition.failure,
.admonition.fail,
.admonition.missing {
  border: 2px solid #f5cccc;
}

.admonition.danger .admonition-title,
.admonition.critical .admonition-title,
.admonition.failure .admonition-title,
.admonition.fail .admonition-title,
.admonition.missing .admonition-title {
  background-color: #f5cccc;
}

/* Repo link */
.repo-link img {
  filter: invert(24%) sepia(0%) saturate(2574%) hue-rotate(155deg)
    brightness(113%) contrast(77%);
}

.repo-link:hover img {
  filter: invert(29%) sepia(85%) saturate(2054%) hue-rotate(95deg)
    brightness(99%) contrast(102%);
}
.repo-link:after {
  background-color: inherit !important;
}

/* Secondary side-bar */

.sidebar--secondary {
  right: 0px;
  position: fixed;
  top: 112px;
  padding: 24px;
  height: 100%;
  overflow-y: auto;
  font-size: 0.9rem;
  border-left: 1px solid #d3d3d3;
  background-color: white;
}

.sidebar--secondary .child-li {
  padding-left: 0.6rem;
}

.sidebar--secondary ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
.sidebar--secondary li {
  margin-bottom: 8px;
}

.kpn-style {
  min-height: 82vh;
  max-width: 850px;
  /* padding: 1rem;
  background-color: white; */
  width: 100%;
}
.card {
  width: 100%;
}
table {
  display: block;
  overflow-x: auto;
}

@media only screen and (min-width: 992px) {
  .sidebar--secondary {
    width: 170px;
  }

  .content-block {
    margin-right: 12.1rem;
  }

  .kpn-style {
    min-height: 82vh;
    max-width: 850px;
    /* 
    background-color: white; */
  }
  .card {
    width: inherit;
    padding: 1rem;
  }

  .container {
    padding-right: 62px;
  }
}

@media only screen and (min-width: 1200px) {
  .sidebar--secondary {
    width: 280px;
    padding-left: 48px;
  }
  .content-block {
    margin-right: 24.2rem;
  }
}

/* Detail */

details {
  display: block;
}

details[open] > summary::before {
  content: "\25BC";
}

details summary {
  display: block;
  cursor: pointer;
}

details summary:focus {
  outline: none;
}

details summary::before {
  content: "\25B6";
  padding-right: 0.5em;
}

details summary::-webkit-details-marker {
  display: none;
}

/* Attach the "no-details" class to details tags
   in browsers that do not support them to get
   open/show functionality. */
details.no-details:not([open]) > * {
  display: none;
}

details.no-details:not([open]) summary {
  display: block;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.headerlink {
  text-decoration: none;
  visibility: hidden;
  color: #93939340;
  padding-left: 10px;
  opacity: 0;
  transition: visibility 1s, opacity 0.2s linear;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink {
  visibility: visible;
  color: #93939385;
  opacity: 1;
}

.content-block img {
  max-width: 100%;
}

h1::before,
h2::before,
h3::before,
h4::before {
  display: block;
  content: " ";
  margin-top: -115px;
  padding-top: 115px;
  visibility: hidden;
  pointer-events: none;
}

#search-input-wrapper {
  align-items: center;
  display: flex;
  position: relative;
  height: inherit;
}

#search-input {
  margin: 0;
}

blockquote {
  font-size: 1.25em;
  width: 80%;
  margin: 64px auto;
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 45px !important;
  border-left: 6px solid lightgray;
  line-height: 1.6;
  position: relative;
  background: ghostwhite;
  border-radius: 4px;
}

blockquote::before {
  font-family: Merriweather, serif !important;
  content: "\201C";
  content: "\275D";
  content: "\201C";
  color: lightgray;
  font-size: 2.5em;
  position: absolute;
  left: 1rem;
  top: 0.25rem;
}

blockquote::after {
  content: "";
}
